/*AMDG*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Note that star is the universal selector */
* {
    box-sizing: border-box;
    /* If we add padding to an element, it doesn't affect the width of it */
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: 0.5s linear;
}

/* When container has the show-nav property, apply this
transformation to the circle
*/
.container.show-nav .circle {
    transform: rotate(-70deg);
}

.container.show-nav .circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

/* What do these # characters mean? */
.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

/* This + character is an adjacency selector */
/* This property applies to nav li elements that follow container when it has the show-nav property */
.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

/* Hidden navigation bar */
nav {
    position: fixed;
    bottom: 40px;
    left: 0px;
    z-index: 100;
}

/* Unordered list in the nav bar */
nav ul {
    list-style: none;
    padding-left: 30px;
}

/* List items in the unordered list */
nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

/* Icons for the items in the unordered list */
nav ul li i {
    font-size: 20px; /* Make icons a bit bigger */
    margin-right: 10px; /* Add some space between icons and text */
}

/* The plus is called an adjacent selector */
/* This means that this style only applies to list items that follow another list item in the navigation bar list*/
nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

/* There's got to be a better way of doing this... */
nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content img {
    max-width: 500px;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #555;
    line-height: 1.5;
}